<div>
  <div class="d-inline-block cursor-pointer" (click)="toggle()">
    <div class="d-flex files__main-icon-wrap">
      <mat-icon [inline]="true" *ngIf="!closed">folder_open</mat-icon>
      <mat-icon [inline]="true" *ngIf="closed">folder</mat-icon>
      <span class="pl-2">{{name || '/'}}</span>
      <span *ngIf="isLoading">&nbsp;- loading...</span>
    </div>
  </div>

  <div class="ml-4" [hidden]=closed>
    <app-file *ngFor="let file of content.files" [name]=file [parentPath]="newPath"></app-file>
    <app-folder *ngFor="let folder of content.folders" [name]=folder [parentPath]="newPath"></app-folder>
  </div>
</div>
