<div>
  <div class="d-flex flex-nowrap">
    <div class="d-flex cursor-pointer" (click)="toggle()">
      <div class="files-item">
        <mat-icon [inline]="true" *ngIf="!closed">folder_open</mat-icon>
        <mat-icon [inline]="true" *ngIf="closed">folder</mat-icon>
      </div>
      <div class="files-item pl-2">{{folder.name || '/'}}&nbsp;</div>
    </div>
    <div class="files-item" *ngIf="isLoading">-&nbsp;loading&nbsp;…&nbsp;</div>
    <div *ngIf="!isRoot" class="files-item-meta">(size:&nbsp;{{folder.size | bytes}},&nbsp;permissions:&nbsp;{{folder.permissions}},&nbsp;group:&nbsp;{{folder.group}},&nbsp;user:&nbsp;{{folder.user}})</div>
  </div>

  <div class="ml-4" [hidden]=closed>
    <app-file *ngFor="let file of content.files" [file]=file [parentPath]="newPath"></app-file>
    <app-folder *ngFor="let folder of content.folders" [folder]=folder [parentPath]="newPath"></app-folder>
  </div>
</div>
