<div class="login-board">
    <div class="login-top d-flex justify-content-center align-items-center">
        <h2 class="login-top-label">Login</h2>
    </div>
    <div class="login-form-wrap mat-elevation-z8">
        <form class="login-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm" novalidate autocomplete="off">
            <mat-form-field class="w-100 mb-3">
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="username" required />
                <mat-error *ngIf="loginForm.get('username').hasError('required')">Username is required</mat-error>
            </mat-form-field>
            <br />
            <mat-form-field class="w-100 mb-3">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" autocomplete="off" required />
                <mat-error *ngIf="loginForm.get('password').hasError('required')">Password is required</mat-error>
            </mat-form-field>
            <div class="d-flex justify-content-center mb-3">
                <button mat-raised-button type="submit" color="primary" class="loader-button" [disabled]="isLoading">
                    <span [hidden]="isLoading">Log In</span>
                    <app-loader [isLoading]="isLoading"></app-loader>
                </button>
            </div>
            <mat-error *ngIf="hasError" class="alert alert-danger" role="alert">
                Wrong name or password!
            </mat-error>
        </form>
    </div>
</div>
